// variables
// main  bg and color variables
$main-bgc1-grey: rgb(252, 245, 245);
$main-bgc2-white: rgb(255, 254, 254);
$main-bgc3-dark-blue: 0.607279;
$main-bgc4-lighter-blue: #8cafbb;
$main-color1-black: rgb(15, 15, 15);
$main-color2-light-blue: #25b0d3;
$main-color2-light-blue2: #107bff;
$main-color3-grey: rgb(153, 153, 153);
$main-color4-red: #f11313;
$main-color4-silver: #6c757d;
$main-color5-green: #008000;
$main-color6-inactive: rgb(202, 202, 202);
$black-linear-gradient: linear-gradient(45deg, 0.607279, black);
$white: #fff;
$black: 0;
$main-bdr: solid #ddd;
$main-post-bgc-eee: #eee;
$main-post-bgc: #f2f2f2;

// search form colors
$search-dropdown-bgc: #eeeeeed2;
$header-btn-bdr-color: #404b4f80;
$search-btn-bgc: #2d7087e6;
$filter-btn-bgc: #ffffffad;

// table color
$table-header: #8cafbb;
$chat-btn: #25b0d3;

// social media brand colors
$twitter: #55acee;
$facebook: #3b5999;
$google: #dd4b39;

// dimensions
$nav-height: 40px;
$section-div-margin: 20px 150px 30px;
$section-div-padding: 20px;

// fonts
$main-font: sans-serif;

// form variables
$color: #d5dce2;
$glass-color: hsla(0, 0%, 0%, 0.3);
$blur: 7px;
$blur: 2px;
$input-bgc: hsla(0, 0%, 100%, 0.25);
$btn: hsla(195, 50%, 35%, 0.6);

.form-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 100px auto;
  a,
  a:hover,
  a:active,
  a:visited {
    color: $color;
  }
  .error-message {
    background-color: rgba(0, 0, 0, 0.548);
    color: #f11313;
    font-size: 0.75rem;
    margin: 0px 10px;
    padding: 0;
    width: inherit;
  }

  .back-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8em;
  }
  
  .forgot-password-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 320px;
    background-color: $glass-color;
    backdrop-filter: blur($blur);
    box-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.342);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    h3 {
      font-weight: bold;
    }

    .group1 {
      display: flex;
      flex-direction: column;
      .form-input-group {
        position: relative;
        .view-password {
          position: absolute;
          top: 1.5em;
          right: 15px;
        }
      }
      input,
      button {
        margin: 15px 10px;
        padding: 7px 10px;
        width: 240px;
        border: none;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        font-size: 16px;
      }
      input {
        margin-bottom: 0;
        background-color: $input-bgc;
      }
      input:focus {
        background-color: $input-bgc;
      }
      button {
        margin-top: 25px;
        margin-bottom: 10px;
        background-color: $btn;
        color: $white;
        font-weight: bold;
      }
      ::placeholder {
        color: $white;
      }
    }
  }
}
