$main-color2-light-blue2: #107bff;
$main-color4-silver: #6c757d;

.ratings-badge {
  text-align: center;
  .ratings-title {
    padding: 2px 5px;
    margin-bottom: 0;
  }
  .ratings-star {
    padding: 0 2px;
    margin-bottom: 0;
    cursor: pointer;
    color: $main-color2-light-blue2;
  }
}
