// variables
// main bg and color variables
$main-bgc1-grey: rgb(252, 245, 245);
$main-bgc2-white: rgb(255, 254, 254);
$main-bgc3-dark-blue: #607279;
$main-bgc4-lighter-blue: #8cafbb;
$main-color1-black: rgb(15, 15, 15);
$main-color2-light-blue: #25b0d3;
$main-color2-light-blue2: #107bff;
$main-color3-grey: rgb(153, 153, 153);
$main-color4-red: #f11313;
$main-color4-silver: #6c757d;
$main-color5-green: #008000;
$main-color6-inactive: rgb(202, 202, 202);
$black-linear-gradient: linear-gradient(45deg, #607279, black);
$white: #fff;
$black: #000;
$main-bdr: solid #ddd;
$main-post-bgc-eee: #eee;
$main-post-bgc: #f2f2f2;

// search form colors
$search-dropdown-bgc: #eeeeeed2;
$header-btn-bdr-color: #404b4f80;
$search-btn-bgc: #2d7087e6;
$filter-btn-bgc: #ffffffad;

// table color
$table-header: #8cafbb;
$chat-btn: #25b0d3;

// social media brand colors
$twitter: #55acee;
$facebook: #3b5999;
$google: #dd4b39;

// dimensions
$nav-height: 40px;
$section-padding: 20px 150px 30px;
$section-wrapper-padding: 20px;
$ad-width: 350px;

// fonts
$main-font: sans-serif;

.search-card {
  color: $white;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 0 20px;
  backdrop-filter: blur(2px);
  input {
    font-size: 0.9rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    padding: 5px 20px;
    font-size: 14px;
    border-bottom: solid 1px $main-bgc3-dark-blue;
  }
  .filter-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .filter1 select {
    width: 150px;
    margin: 10px;
    padding: 5px;
  }
  .filter2 {
    margin-top: 10px;
  }
  .filter2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .filter2 label {
    padding-bottom: 3px;
  }
  .filter2 select {
    width: 150px;
    padding: 5px;
  }
  .filter2 input {
    width: 150px;
    padding: 5px;
  }
  .filter3 {
    flex-wrap: nowrap;
    padding-top: 5px;
  }
  .filter3 > p {
    margin: 10px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    border: solid 1px $main-bgc3-dark-blue;
    cursor: pointer;
  }
  .less-option {
    display: none;
  }
  .more-option {
    display: block;
  }
  .filter3 > p > i {
    padding-left: 5px;
  }
  .filter3 > button {
    width: 100px;
    margin: 10px;
    padding: 5px 10px;
    font-weight: bold;
    background-image: $black-linear-gradient;
    color: $white;
    border: solid 1px $main-bgc3-dark-blue;
  }
}
@media screen and (max-width: 360px) {
  .search-card {
    margin: 0;

    .filter1 select {
      width: 120px;
    }
    .filter2 select {
      width: 120px;
    }
    .filter2 input {
      width: 120px;
    }
  }
}
@media screen and (max-width: 420px) {
  .search-card {
    .filter1 select {
      width: 120px;
    }
    .filter2 select {
      width: 120px;
    }
    .filter2 input {
      width: 120px;
    }
  }
}
@media screen and (min-width: 460px) {
  .search-card {
    .filter1 select {
      width: 150px;
    }
  }
}
@media screen and (min-width: 600px) {
  .search-card {
    .filter1 select {
      width: 120px;
    }
    .filter2 select {
      width: 70px;
    }
    .filter2 input {
      width: 70px;
    }
  }
}
@media screen and (min-width: 700px) {
  .search-card {
    width: 700px;

    .filter1 select {
      width: 130px;
    }
    .filter2 select {
      width: 80px;
    }
    .filter2 input {
      width: 80px;
    }
  }
}
